@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-accent: #f59e0b;
  --font-body: "Poppins", sans-serif;;
}

/* Base layer to apply global font */
@layer base {
  body, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-body);
  }
}